extends layout

block content
  h1 List of available books:  
  each book, key in books
    h3 #{key + 1}
    p Title: #{book.title}
    p Author: #{book.authorName}
    p Language: #{book.lang}
    p Published in: #{book.pubDate}
    p Owner: #{book.owner}